<% if User.current.allowed_to?(:log_time, nil, :global => true) %>
<div class="box splitcontentleft contextual">
	<h3>
	  <%= link_to l(:label_spent_time), time_entries_path(:user_id => 'me') %>
	  (<%= l(:label_last_n_days, 7) %>)
	</h3>
	<%= link_to l(:button_log_time), new_time_entry_path, :class => "icon icon-add" %> | <%= link_to 'Importar horas', new_issues_import_entry_path, :class => "icon icon-save" %>
</div>
<% end %>