<h2><%= l(:label_import_entries) %></h2>

<%= link_to l(:import_entry_back), new_issues_import_entry_path %>

<% if @import.saved_items.count > 0 %>
  <div class="flash notice"><%= l(:notice_import_finished, :count => @import.saved_items.count) %></div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>
